bin/
obj/
*.csproj.user
*.suo
node_modules/
.vs/

*.ncrunchsolution.user

exercises/**/.NCrunch_PlanAndExecute/

*.ncrunchsolution

exercises/**/nCrunchTemp_*.csproj

exercises/**/.NCrunch_CorrectiveRetrievalAugmentedGeneration/

.vscode/

exercises/CorrectiveRetrievalAugmentedGeneration/qdrant_storage/

