textarea {
    width: 20rem;
    height: 6rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0.5rem;
}
button.btn[disabled],button.btn-primary[disabled] {
    background-color: #D0D0D0;
    border-color: #C0C0C0;
    color: #A0A0A0;
}
